<header>
    <div class="">
        <nav class="nav bg-dark justify-content-end">
            <ul class="nav menu text-light">
                @Html.Action("Menu_first", "Menu")
            </ul>
        </nav>
    </div>
</header>
<body>
    <div class="col-12">
        <div class="col-4">

        </div>
        <div class="col-8" style="background: red">

        </div>
    </div>
</body>





